**/obj/*
**/bin/*
**/.vs/*
*.rej
*.suo
*.sln
*.ide
Temp/
AssetServerCacheV3
AssetVersioning.db
FailedAssetImports.txt
ScriptAssemblies/
ScriptMapper
assetDatabase3
expandedItems
guidmapper
Build
Builds/
Library/
Unity.userprefs
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
*UnityVS*
@Themes/
@Themes.meta